// 400 等同于 normal，而 700 等同于 600

.van-calendar {
  // 顶部
  .van-calendar__header {
    .van-calendar__month-title {
      height: $headerHeight;
      line-height: $headerHeight;
      font-size: $headerFontSize;
      font-weight: $headerFontWeight;
      letter-spacing: 1px;
      @extend .hairline;
      @extend .hairline--bottom;
    }
    .van-calendar__weekdays {
      .van-calendar__weekday {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  // 主体
  .van-calendar__body {
    .van-calendar__month {
      margin-bottom: 20px;
      .van-calendar__month-mark {
        color: rgba(#000, .05);
        font-weight: 900;
      }
      .van-calendar__month-title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }
      .van-calendar__day {
        font-size: 22px;
        font-weight: 600;
        .van-calendar__selected-day {
          height: 70px - 4px;
        }
        .van-calendar__top-info {
          font-weight: 400;
        }
        .van-calendar__bottom-info {
          font-weight: 400;
        }
      }
    }
  }
}
