// 400 等同于 normal，而 700 等同于 600

.van-calendar {
  // 顶部
  .van-calendar__header {
    .van-calendar__month-title {
      height: $headerHeight;
      line-height: $headerHeight;
      font-size: $headerFontSize;
      font-weight: $headerFontWeight;
      letter-spacing: 1px;
      @extend .hairline;
      @extend .hairline--bottom;
    }
    .van-calendar__weekdays {
      .van-calendar__weekday {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
  // 主体
  .van-calendar__body {
    .van-calendar__month {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0px;
      }
      .van-calendar__month-mark {
        color: rgba(#000, .05);
        font-weight: 900;
      }
      .van-calendar__month-title {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 20px;
      }
      .van-calendar__day {
        font-size: 22px;
        font-weight: 600;
        $positions: ('top', 'bottom');
        $colorNames: ('green', 'yellow', 'orange', 'red', 'black', 'violet', 'blue');
        $colors: (#56B14A, #e8c700, #ff8800, #DA3736, #000000, #675996, #389DFC);
        @for $positionIndex from 1 to 3 {
          @for $colorIndex from 1 to 8 {
            &.is-#{nth($positions, $positionIndex)}-#{nth($colorNames, $colorIndex)} {
              .van-calendar__#{nth($positions, $positionIndex)}-info {
                background-color: #{nth($colors, $colorIndex)};
                color: #FFF;
              }
            }
          }
        }
        &.is-today {
          border-radius: 4px;
          // background-color: rgba(#EC132D, .2);
          border: 2px solid #EC132D;
          box-sizing: border-box;
          .van-calendar__selected-day {
            color: #FFF;
          }
        }
        .van-calendar__selected-day {
          height: 70px;
          .van-calendar__top-info {
            background-color: #FFF;
            color: #EC132D;
          }
          .van-calendar__bottom-info {
            background-color: #FFF;
            color: #EC132D;
          }
        }
        .van-calendar__top-info {
          font-weight: 450;
          left: auto;
          right: auto;
          padding: 1px 3px;
          border-radius: 2px;
        }
        .van-calendar__bottom-info {
          font-weight: 450;
          left: auto;
          right: auto;
          padding: 1px 2px;
          border-radius: 2px;
        }
      }
    }
  }
}
